* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: whitesmoke;
    
}

#banner {
    background-image: url(./images/DSC00638.JPG);
    background-size: 100% 100%;
    height: 220px;
    
}

#banner .content h1 {
    color: #3d738c;
    font-family: "Fugaz One", cursive;
    font-size: 50px;
    position: relative;
    top: 35px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 5px double white;
    border-radius: 60px 5px;
    padding: 0px 15px;
    opacity: 70%;
    background-color: rgba(220, 232, 248, 0.5);
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 5%;
    align-items: baseline;
}

.about {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    clear: none;
}

p {
    text-align: justify;
    line-height: 2;
}

h2 {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

h3 {
    margin: 0 auto;
    text-align: center;
}

#link-container {
    text-align: center;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.links a {
    padding: 10px;
}