* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(12px + 0.5vw)
}

body {
    font-family: Montserrat, sans-serif;
    background-color: whitesmoke;
    
}


#banner {
    background-image: url(./images/DSC00638.JPG);
    background-size: 100% 100%;
    height: 50vh;
    
}

#banner .content h1 {
    color: #3d738c;
    font-family: "Fugaz One", cursive;
    font-size: 3.5vw;
    position: relative;
    top: 13vh;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    border: 5px double white;
    border-radius: 60px 5px;
    background-color: rgba(220, 232, 248, 0.75);
}

nav {
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(13, 48, 75, 0.85);
}

nav a {
    color: rgb(230, 230, 230);
    font-size: 1.25rem;
    font-weight: bolder;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: rgb(255, 196, 34);
}

main {
    margin: 3% 5%;
}

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2em 0;
    
}

.about-text-container {
    width: 50%;
    border: double;
    padding: 2rem 2.5rem;
}

p {
    text-align: justify;
    line-height: 2;
}

#about h2 {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    border-bottom: 2px solid;
    margin-bottom: 1.75em;
}

#about img {
    display: flex;
    max-width: 33%;
    border-radius: 10% 10%;
    position: relative;
    top: 1.5rem;
    
}

#link-container {
    margin: 3rem auto;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links a {
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-weight: bold;
    color:rgb(13, 48, 75)

}
.links a:hover {
    color:rgb(255, 196, 34);
}

.contact-container {
    margin: 2rem;
    padding: 2rem;
    border: dotted;
}

.contact-container h2 {
    margin: 1rem auto;
}

.contact-text {
    display: flex;
    height: 6.5rem;
    padding: 1rem;
    align-items: flex-end;
}

.contact-text img {
    width: 100%;
    padding: 1rem;
}

@media screen and (max-width: 900px) {
    .about-container {
        display:inline-block;
    }
    .about-text-container {
        width: 100%;
    }

    #about img {
        position: relative;
        left: 30vw;
    }

    nav {
        height: 8vw;
    }

    #link-container {
        margin: 2rem auto;
    }
}